{
    "extends": "@antfu",
    "root": true,
    "ignorePatterns": [
        "dist",
        "node_modules",
        "public",
        "tests",
        "vendor",
        "webpack.mix.js",
        "yarn.lock",
        "playground"
    ],
}
